div.section {
    min-height: 400px;
    max-height: 600px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-top-width: 20px;
    border-color: #1d5c79c7;
    border-radius: 4px;
    display: block;
    -moz-box-shadow: 0 0 30px 5px #93c4dc;
    -webkit-box-shadow: 0 0 30px 5px #93c4dc;
    margin: auto;
    margin-bottom: 40px;
}

.container-fluid {
    width: 100%;
}

.button-group {
    margin: 1em;
    /* padding: 1em; */
}

.group-button:hover {
    background-color: #8cbed2;
}
.group-button {
    background-color: #4299ce;
    font-weight: 700;
    border-color: white;
}

.selected {
    background-color: #8cbed2;
}

.content-container {
    display: inline-grid;
}

.error {
    border-color: red;
}