<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Energia arvutus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" />
    <link th:href="@{js/air-datepicker/dist/css/datepicker.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" />

</head>
<body>

<nav class="navbar navbar-inverse">

</nav>

<div class="container-fluid content-container">

    <div class="section col-lg-5 col-sm-12" id="form-section">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="startdate">Algus kuupäev</label>
                <div class="input-group date" id="startdate">
                    <input type="text" class="form-control datepicker-here" id="startdate-input"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="enddate">Lõpp kuupäev</label>
                <div class="input-group date" id="enddate">
                    <input type="text" class="form-control datepicker-here" id="enddate-input"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="price">KW/H hind</label>
                <div class="input-group price-group" id="">
                    <input type="number" id="price" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-eur"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="button-group">
                    <button class="col-lg-4 col-sm-4 btn group-button" name="day">Päev</button>
                    <button class="col-lg-4 col-sm-4 btn group-button" name="week">Nädal</button>
                    <button class="col-lg-4 col-sm-4 btn group-button" name="month">Kuu</button>
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-right btn-lg get-data">Päring</button>
        </div>
    </div>

    <div class="section col-lg-5 col-sm-12" id="table-section">
        <table class="table" id="consumption-table">
            <thead>
                <tr>
                    <th>Kuupäev</th>
                    <th>Elektritarbimine</th>
                    <th>Hind</th>
                </tr>
            </thead>
            <tfoot>

            </tfoot>
        </table>
    </div>
<!--
    <div class="section col-lg-5 col-sm-12" id="graph-section">
        <canvas id="electricity-chart" width="400" height="400"></canvas>
    </div>
-->
</div>


<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" th:src="@{js/air-datepicker/dist/js/datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{js/air-datepicker/dist/js/i18n/datepicker.en.js}"></script>
<!--<script type="text/javascript" th:src="@{js/node-modules/chart.js/dist/Chart.bundle.min.js}"></script>-->
<script type="text/javascript" th:src="@{js/pageScript.js}"></script>
<script type="text/javascript" th:src="@{js/notify.min.js}"></script>

</body>
</html>